@import "partials/variables";
@import "partials/reset";
@import "partials/mixins";
@import "partials/layout";
@import "partials/breakpoints";
html{
  font-size: 62.5%;
}
body{
  margin: 0;
  background-color: #182f40;
  padding: 0;
}
